@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: "Poppins", sans-serif;
    background-color: #82A682;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #82A682;
    height: 115px;

}

.menu .navbar ul li {
    position: relative;
    float: right;
}

.menu .navbar ul li a {

    font-size: 25px;
    padding: 25px;
    color: #d4deb4;
    display: block;
    font-weight: 600;
}


.menu .navbar ul li a:hover{
    color: #E0E4D3;
}

.header-content{
    margin-top: 130px;
    text-align: center;
    
        background-image: linear-gradient(
        rgba(35, 54, 34, 0.9),
        rgba(4, 77, 68, 0.8)),
            url(img/3769238.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        min-height: 70vh;
        align-items: center; 
}

.header-content h1 {
    font-size: 100px;
    line-height: 10px;
    color: #E0E4D3;
    text-transform: uppercase ;
    margin-bottom: 35px;

}

.header-content h1 a:hover {
    color: #82A682;
}

.header-content h1 a {
    color: #BECFAB;
}

.header-content p {
    font-size: 15px;
    color: #E0E4D3;
    padding: 0 259px;
    margin-bottom: 25px;

}

.info{
    transition: background-color 0.1s ease;
    border-radius: 30px;
}

.info:hover {
    background-color: #044d44;
}

.easy{
    padding: 50px 0;
    background-color: #CFD8B3;
    position: relative;
    height: 470px;
}

.easy-content{
    text-align: center;

}

.easy-content h2{
    font-size: 55px;
    line-height: 70px;
    color: #044d44;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
    text-align: center;
}

.txt-p {
    font-size: 16px;
    color: #233622;
    padding: 0 250px;
    margin-bottom: 35px;
}

.btn-1{
    display: inline-block;
    padding: 11px 35px;
    background-color: #82A682;
    color: #E7EEE6;
    text-transform: uppercase;
    border-radius: 10px;
}

.btn-1:hover{
    background-color: #044d44;

}

.footer{
    padding: 25px 0;
    background-color: #011E1A;
    height: 150px;
}

.footer-content{
    justify-content: center;
}

.social-text {
    padding: 0.7rem 0;
    font-size: 1rem;
    color: #CFD8B3;
    text-align: center;
  }
  
  .social-media {
    display: flex;
    justify-content: center;
  }
  
  .social-icon {
    height: 46px;
    width: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.45rem;
    color: #CFD8B3;
    border-radius: 50%;
    border: 1px solid #CFD8B3;
    text-decoration: none;
    font-size: 1.1rem;
    transition: 0.3s;
  }
  
  .social-icon:hover {
    color: #82A682;
    border-color: #82A682;
  }

